In [36]:
from pymongo import MongoClient
import os 
from dotenv import load_dotenv
import src.funcioncitas as pk
import pandas as pd

# EVOLUCIÓN DE LA VACUNA SPAIN - Mongo

In [37]:
mongo = os.getenv('mongo')
client = MongoClient(mongo)

In [38]:
client.list_database_names()

['Ironhack_1', 'Lab-mango', 'Proyecto_Data', 'admin', 'config', 'local']

In [ ]:
db = client.get_database('Proyecto_Data')

In [39]:
db.list_collection_names()

['vacunas']

In [40]:
collection = db.get_collection('vacunas')

In [41]:
documentos = collection.find()
documentos

In [42]:
documentos.next()

{'_id': ObjectId('60ab6383514a37dd6bcc3bb5'),
 'ccaa': 'Andalucía',
 'dosisAdministradas': 4087772,
 'dosisEntregadas': 4270610,
 'dosisEntregadasModerna': 392000,
 'dosisEntregadasPfizer': 2768310,
 'dosisEntregadasAstrazeneca': 1007500,
 'dosisEntregadasJanssen': 102800,
 'dosisPrimeraDosis': 2804632,
 'dosisPautaCompletada': 1324848,
 'porcentajeEntregadas': 0.9571869124082977,
 'porcentajePoblacionAdministradas': 0.4829363791526664,
 'porcentajePoblacionPrimeraDosis': 0.33134402381925926,
 'porcentajePoblacionCompletas': 0.1565198098249246,
 'fechaUltRegistro': 1621468800000,
 'etarios': {'unaDosis': {'etarioTotal': {'vacunados': 2804632,
    'personasINE': 7062213,
    'porcentaje': 0.3971321737251482},
   'etarioRangos': [{'rango': {'min': 16, 'max': 17},
     'vacunados': 479,
     'personasINE': 181921,
     'porcentaje': 0.0026330110322612564},
    {'rango': {'min': 18, 'max': 24},
     'vacunados': 35248,
     'personasINE': 625846,
     'porcentaje': 0.05632056448391457},
    {'rango': {'min': 25, 'max': 49},
     'vacunados': 371210,
     'personasINE': 3009381,
     'porcentaje': 0.12335094825148428},
    {'rango': {'min': 50, 'max': 59},
     'vacunados': 541102,
     'personasINE': 1265021,
     'porcentaje': 0.4277415157534934},
    {'rango': {'min': 60, 'max': 69},
     'vacunados': 793166,
     'personasINE': 916147,
     'porcentaje': 0.8657628088068836},
    {'rango': {'min': 70, 'max': 79},
     'vacunados': 634625,
     'personasINE': 650381,
     'porcentaje': 0.9757742000458193},
    {'rango': {'min': 80, 'max': None},
     'vacunados': 428802,
     'personasINE': 413516,
     'porcentaje': 1}]},
  'pautaCompleta': {'etarioTotal': {'vacunados': 1324848,
    'personasINE': 7062213,
    'porcentaje': 0.18759672074461645},
   'etarioRangos': [{'rango': {'min': 16, 'max': 17},
     'vacunados': 338,
     'personasINE': 181921,
     'porcentaje': 0.0018579493296540805},
    {'rango': {'min': 18, 'max': 24},
     'vacunados': 15429,
     'personasINE': 625846,
     'porcentaje': 0.024653029659053506},
    {'rango': {'min': 25, 'max': 49},
     'vacunados': 158970,
     'personasINE': 3009381,
     'porcentaje': 0.05282481679787305},
    {'rango': {'min': 50, 'max': 59},
     'vacunados': 88701,
     'personasINE': 1265021,
     'porcentaje': 0.07011820357132412},
    {'rango': {'min': 60, 'max': 69},
     'vacunados': 85348,
     'personasINE': 916147,
     'porcentaje': 0.09315972218432195},
    {'rango': {'min': 70, 'max': 79},
     'vacunados': 558376,
     'personasINE': 650381,
     'porcentaje': 0.8585367653729122},
    {'rango': {'min': 80, 'max': None},
     'vacunados': 417686,
     'personasINE': 413516,
     'porcentaje': 1}]}}}

In [43]:
collection.count_documents({})

21

**CCAA**

In [44]:
collection.distinct('ccaa')

['Andalucía',
 'Aragón',
 'Asturias',
 'Baleares',
 'C. Valenciana',
 'Canarias',
 'Cantabria',
 'Castilla La Mancha',
 'Castilla y Leon',
 'Cataluña',
 'Ceuta',
 'Extremadura',
 'Fuerzas Armadas',
 'Galicia',
 'La Rioja',
 'Madrid',
 'Melilla',
 'Murcia',
 'Navarra',
 'País Vasco',
 'Totales']

In [45]:
collection.find_one().keys()

dict_keys(['_id', 'ccaa', 'dosisAdministradas', 'dosisEntregadas', 'dosisEntregadasModerna', 'dosisEntregadasPfizer', 'dosisEntregadasAstrazeneca', 'dosisEntregadasJanssen', 'dosisPrimeraDosis', 'dosisPautaCompletada', 'porcentajeEntregadas', 'porcentajePoblacionAdministradas', 'porcentajePoblacionPrimeraDosis', 'porcentajePoblacionCompletas', 'fechaUltRegistro', 'etarios'])

In [557]:
proj = {'_id': 0, 'ccaa': 1, 'dosisAdministradas':1, 'dosisEntregadas':1, 'dosisPrimeraDosis': 1, 'dosisPautaCompletada': 1,
        'dosisEntregadasModerna':1, 'dosisEntregadasPfizer': 1, 'dosisEntregadasAstrazeneca': 1, 
        'dosisEntregadasJanssen':1, 'fechaUltRegistro':1}

filtro = {'dosisAdministradas': {'$gt': 0}, 'dosisEntregadas': {'$gt': 0}, 'dosisPrimeraDosis': {'$gte': 0}, 
          'dosisPautaCompletada': {'$gte': 0},'dosisEntregadasModerna': {'$gt': 0}, 
         'dosisEntregadasPfizer': {'$gt': 0}, 'dosisEntregadasAstrazeneca': {'$gt': 0}, 
          'dosisEntregadasJanssen': {'$gt': 0}, 'fechaUltRegistro': {'$gt': 0}}

dosis = list(collection.find(filtro, proj))
dosis[:2]

[{'ccaa': 'Andalucía',
  'dosisAdministradas': 4087772,
  'dosisEntregadas': 4270610,
  'dosisEntregadasModerna': 392000,
  'dosisEntregadasPfizer': 2768310,
  'dosisEntregadasAstrazeneca': 1007500,
  'dosisEntregadasJanssen': 102800,
  'dosisPrimeraDosis': 2804632,
  'dosisPautaCompletada': 1324848,
  'fechaUltRegistro': 1621468800000},
 {'ccaa': 'Aragón',
  'dosisAdministradas': 757163,
  'dosisEntregadas': 794565,
  'dosisEntregadasModerna': 75900,
  'dosisEntregadasPfizer': 544365,
  'dosisEntregadasAstrazeneca': 158300,
  'dosisEntregadasJanssen': 16000,
  'dosisPrimeraDosis': 494372,
  'dosisPautaCompletada': 270668,
  'fechaUltRegistro': 1621468800000}]

In [558]:
df_FARMA = pd.DataFrame(dosis)
df_FARMA

,ccaa,dosisAdministradas,dosisEntregadas,dosisEntregadasModerna,dosisEntregadasPfizer,dosisEntregadasAstrazeneca,dosisEntregadasJanssen,dosisPrimeraDosis,dosisPautaCompletada,fechaUltRegistro
0,Andalucía,4087772,4270610,392000,2768310,1007500,102800,2804632,1324848,1621468800000
1,Aragón,757163,794565,75900,544365,158300,16000,494372,270668,1621468800000
2,Asturias,689279,703635,67000,502835,121400,12400,447261,248389,1621468800000
3,Baleares,471730,525150,47200,324450,139300,14200,336944,141426,1621468800000
4,Canarias,883279,1007870,90700,631770,259000,26400,616270,283662,1621468800000
5,Cantabria,323878,351105,33100,241755,69300,6950,216835,110435,1621468800000
6,Castilla y Leon,1510435,1647075,159600,1173225,285100,29150,959720,567430,1621468800000
7,Castilla La Mancha,1073858,1136685,107800,761535,242500,24850,724018,362666,1621468800000
8,Cataluña,3744065,4121100,386700,2713850,926100,94450,2642992,1135792,1621468800000
9,C. Valenciana,2413113,2596380,239900,1693180,601900,61400,1668460,776451,1621468800000
10,Extremadura,615201,639785,59800,440585,126500,12900,404699,216051,1621468800000
11,Galicia,1705317,1751725,165000,1232125,321700,32900,1115803,603245,1621468800000
12,La Rioja,174544,186695,17400,127595,37800,3900,115235,61926,1621468800000
13,Madrid,3162722,3445595,320200,2235795,807300,82300,2168152,1018574,1621468800000
14,Murcia,638774,743685,67500,478085,179800,18300,429379,214026,1621468800000
15,Navarra,353577,365345,34500,244095,78700,8050,237738,121398,1621468800000
16,País Vasco,1216832,1298560,121800,885510,264300,26950,849078,382394,1621468800000
17,Ceuta,33283,35550,3200,20700,10600,1050,25381,8631,1621468800000
18,Melilla,29595,35450,3100,20700,10600,1050,22354,7713,1621382400000

In [559]:
df_FARMA.shape

(19, 10)

In [567]:
df_FARMA[['dosisEntregadasModerna', 'dosisEntregadasPfizer', 'dosisEntregadasAstrazeneca', 'dosisEntregadasJanssen']].sum()

dosisEntregadasModerna         2392400
dosisEntregadasPfizer         17040465
dosisEntregadasAstrazeneca     5647700
dosisEntregadasJanssen          576000
dtype: int64

In [583]:
projec = {'_id': 0, 'ccaa': 1, 'dosisPrimeraDosis': 1, 'dosisPautaCompletada': 1, 'porcentajeEntregadas': 1,
          'porcentajePoblacionAdministradas': 1, 'porcentajePoblacionPrimeraDosis': 1, 'porcentajePoblacionCompletas': 1,
          'fechaUltRegistro': 1}

filte = {'dosisPrimeraDosis': {'$gte': 0}, 'dosisPautaCompletada': {'$gte': 0}, 'porcentajeEntregadas': {'$gte': 0},
          'porcentajePoblacionAdministradas': {'$gte': 0}, 'porcentajePoblacionPrimeraDosis': {'$gte': 0}, 
          'porcentajePoblacionCompletas': {'$gte': 0}, 'fechaUltRegistro': {'$gte': 0}}

dos = list(collection.find(filte, projec))
dos[:1]

[{'ccaa': 'Andalucía',
  'dosisPrimeraDosis': 2804632,
  'dosisPautaCompletada': 1324848,
  'porcentajeEntregadas': 0.9571869124082977,
  'porcentajePoblacionAdministradas': 0.4829363791526664,
  'porcentajePoblacionPrimeraDosis': 0.33134402381925926,
  'porcentajePoblacionCompletas': 0.1565198098249246,
  'fechaUltRegistro': 1621468800000}]

In [581]:
df1_DOSIS = pd.DataFrame(dos)
df1_DOSIS

,ccaa,dosisPrimeraDosis,dosisPautaCompletada,porcentajeEntregadas,porcentajePoblacionAdministradas,porcentajePoblacionPrimeraDosis,porcentajePoblacionCompletas,fechaUltRegistro
0,Andalucía,2804632,1324848,0.957187,0.482936,0.331344,0.156520,1621468800000
1,Aragón,494372,270668,0.952928,0.569556,0.371879,0.203603,1621468800000
2,Asturias,447261,248389,0.979597,0.676570,0.439015,0.243809,1621468800000
3,Baleares,336944,141426,0.898277,0.402657,0.287607,0.120718,1621468800000
4,Canarias,616270,283662,0.876382,0.405928,0.283219,0.130362,1621468800000
5,Cantabria,216835,110435,0.922453,0.555627,0.371990,0.189456,1621468800000
6,Castilla y Leon,959720,567430,0.917041,0.630683,0.400732,0.236931,1621468800000
7,Castilla La Mancha,724018,362666,0.944728,0.525057,0.354005,0.177324,1621468800000
8,Cataluña,2642992,1135792,0.908511,0.481213,0.339695,0.145980,1621468800000
9,C. Valenciana,1668460,776451,0.929414,0.477149,0.329908,0.153529,1621468800000
10,Extremadura,404699,216051,0.961575,0.578203,0.380361,0.203058,1621468800000
11,Galicia,1115803,603245,0.973507,0.631174,0.412982,0.223274,1621468800000
12,La Rioja,115235,61926,0.934915,0.545597,0.360206,0.193571,1621468800000
13,Madrid,2168152,1018574,0.917903,0.466486,0.319792,0.150235,1621468800000
14,Murcia,429379,214026,0.858931,0.422679,0.284122,0.141622,1621468800000
15,Navarra,237738,121398,0.967789,0.534753,0.359557,0.183603,1621468800000
16,País Vasco,849078,382394,0.937063,0.547998,0.382381,0.172210,1621468800000
17,Ceuta,25381,8631,0.936231,0.395276,0.301430,0.102504,1621468800000
18,Melilla,22354,7713,0.834838,0.339876,0.256718,0.088578,1621382400000

In [94]:
tres[0].keys()

dict_keys(['ccaa', 'etarios'])

In [50]:
list(collection.distinct('etarios'))[0]

{'unaDosis': {'etarioTotal': {'vacunados': 22354,
   'personasINE': 66178,
   'porcentaje': 0.3377859711686663},
  'etarioRangos': [{'rango': {'min': 16, 'max': 17},
    'vacunados': 6,
    'personasINE': 2324,
    'porcentaje': 0.0025817555938037868},
   {'rango': {'min': 18, 'max': 24},
    'vacunados': 298,
    'personasINE': 8536,
    'porcentaje': 0.03491096532333646},
   {'rango': {'min': 25, 'max': 49},
    'vacunados': 4420,
    'personasINE': 30095,
    'porcentaje': 0.1468682505399568},
   {'rango': {'min': 50, 'max': 59},
    'vacunados': 7135,
    'personasINE': 11299,
    'porcentaje': 0.6314718116647491},
   {'rango': {'min': 60, 'max': 69},
    'vacunados': 5582,
    'personasINE': 7827,
    'porcentaje': 0.7131723521144755},
   {'rango': {'min': 70, 'max': 79},
    'vacunados': 3027,
    'personasINE': 3748,
    'porcentaje': 0.8076307363927427},
   {'rango': {'min': 80, 'max': None},
    'vacunados': 1886,
    'personasINE': 2349,
    'porcentaje': 0.8028948488718604}]},
 'pautaCompleta': {'etarioTotal': {'vacunados': 7713,
   'personasINE': 66178,
   'porcentaje': 0.1165493064160295},
  'etarioRangos': [{'rango': {'min': 16, 'max': 17},
    'vacunados': 6,
    'personasINE': 2324,
    'porcentaje': 0.0025817555938037868},
   {'rango': {'min': 18, 'max': 24},
    'vacunados': 88,
    'personasINE': 8536,
    'porcentaje': 0.010309278350515464},
   {'rango': {'min': 25, 'max': 49},
    'vacunados': 972,
    'personasINE': 30095,
    'porcentaje': 0.03229772387439774},
   {'rango': {'min': 50, 'max': 59},
    'vacunados': 645,
    'personasINE': 11299,
    'porcentaje': 0.05708469776086379},
   {'rango': {'min': 60, 'max': 69},
    'vacunados': 1454,
    'personasINE': 7827,
    'porcentaje': 0.18576721604701674},
   {'rango': {'min': 70, 'max': 79},
    'vacunados': 2772,
    'personasINE': 3748,
    'porcentaje': 0.7395944503735326},
   {'rango': {'min': 80, 'max': None},
    'vacunados': 1776,
    'personasINE': 2349,
    'porcentaje': 0.756066411238825}]}}

In [56]:
tres[0]['etarios']['unaDosis']['etarioRangos'][3]

{'rango': {'min': 50, 'max': 59},
 'vacunados': 541102,
 'personasINE': 1265021,
 'porcentaje': 0.4277415157534934}

In [ ]:
lista = [rang['etarios.unaDosis'] for rang in tres]

In [ ]:
l = [le.get('etarios').get('unaDosis').get('etarioRangos')[0] for le in tres ]

In [ ]:
#List Comprhensions
unaDosis_vacunados_total_COL = [vacuna.get('unaDosis').get('etarioTotal') for vacuna in d]
pautaCompleta_vacunados_total_COL = [vacuna['pautaCompleta']['etarioTotal'] if vacuna!= 0 else 0 for vacuna in d]

In [ ]:
#Variables en las que voy guardando los valores del dict de 'etarios'
unaDosis_vacunados_total
pautaCompleta_vacunados_total_COL

# ETARIOS

## UNA DOSIS

**ETARIO TOTAL  ->  VACUNADOS**

`unaDosis_vacunados_total_COL`,   `unaDosis_vacunados_total_INE_COL`,    `unaDosis_vacunados_total_porcentaje_COL`

In [209]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioTotal.vacunados': 1} # UNA DOSIS - VACUNADOS TOTAL
unaDosis_vacunados_total = list(collection.find(filtro, projection))
unaDosis_vacunados_total[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioTotal': {'vacunados': 2804632}}}}

In [213]:
df2 = pd.DataFrame(unaDosis_vacunados_total) 
df2.head(3)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioTotal': {'vacunados': 280...
1     Aragón  {'unaDosis': {'etarioTotal': {'vacunados': 494...
2   Asturias  {'unaDosis': {'etarioTotal': {'vacunados': 447...

In [215]:
a = list(df2.etarios)
a[0]

{'unaDosis': {'etarioTotal': {'vacunados': 2804632}}}

In [414]:
unaDosis_vacunados_total_COL = [vacuna.get('unaDosis').get('etarioTotal').get('vacunados') for vacuna in a]
unaDosis_vacunados_total_COL[:2]

[2804632, 494372]

**ETARIO TOTAL  ->  INE**

In [241]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioTotal.personasINE': 1} # UNA DOSIS - personas INE
unaDosis_vacunados_total_INE = list(collection.find(filtro, projection))
unaDosis_vacunados_total_INE[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioTotal': {'personasINE': 7062213}}}}

In [244]:
df4 = pd.DataFrame(unaDosis_vacunados_total_INE) 
df4.head(3)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioTotal': {'personasINE': 7...
1     Aragón  {'unaDosis': {'etarioTotal': {'personasINE': 1...
2   Asturias  {'unaDosis': {'etarioTotal': {'personasINE': 9...

In [245]:
c = list(df4.etarios)
c[0]

{'unaDosis': {'etarioTotal': {'personasINE': 7062213}}}

In [415]:
unaDosis_vacunados_total_INE_COL = [vacuna.get('unaDosis').get('etarioTotal').get('personasINE') for vacuna in c]
unaDosis_vacunados_total_INE_COL[:2]

[7062213, 1132764]

**ETARIO TOTAL  ->  %**

In [251]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioTotal.porcentaje': 1} # UNA DOSIS - VACUNADOS TOTAL
unaDosis_vacunados_total_Porcentaje = list(collection.find(filtro, projection))
unaDosis_vacunados_total_Porcentaje[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioTotal': {'porcentaje': 0.3971321737251482}}}}

In [253]:
df5 = pd.DataFrame(unaDosis_vacunados_total_Porcentaje) 
df5.head(3)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioTotal': {'porcentaje': 0....
1     Aragón  {'unaDosis': {'etarioTotal': {'porcentaje': 0....
2   Asturias  {'unaDosis': {'etarioTotal': {'porcentaje': 0....

In [362]:
d = list(df5.etarios)
d[0]

{'unaDosis': {'etarioTotal': {'porcentaje': 0.3971321737251482}}}

In [416]:
unaDosis_vacunados_total_porcentaje_COL = [vacuna.get('unaDosis').get('etarioTotal').get('porcentaje') for vacuna in d]
unaDosis_vacunados_total_porcentaje_COL[:2]

[0.3971321737251482, 0.4364298300440339]

## UNA DOSIS etarios RANGOS

**RANGO de Edades - VACUNADOS**

In [447]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioRangos.vacunados': 1} # UNA DOSIS - VACUNADOS TOTAL
unaDosis_vacunados_RANGOS_VACUNADOS = list(collection.find(filtro, projection))
unaDosis_vacunados_RANGOS_VACUNADOS[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioRangos': [{'vacunados': 479},
    {'vacunados': 35248},
    {'vacunados': 371210},
    {'vacunados': 541102},
    {'vacunados': 793166},
    {'vacunados': 634625},
    {'vacunados': 428802}]}}}

In [448]:
df6 = pd.DataFrame(unaDosis_vacunados_RANGOS_VACUNADOS) 
df6.head(1)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioRangos': [{'vacunados': 4...

In [449]:
e = list(df6.etarios)
e[0]

{'unaDosis': {'etarioRangos': [{'vacunados': 479},
   {'vacunados': 35248},
   {'vacunados': 371210},
   {'vacunados': 541102},
   {'vacunados': 793166},
   {'vacunados': 634625},
   {'vacunados': 428802}]}}

In [450]:
e[0]['unaDosis']['etarioRangos'][0]   #16-17

{'vacunados': 479}

In [451]:
e[0]['unaDosis']['etarioRangos'][1]   #18-24

{'vacunados': 35248}

**RANGO de Edades - INE**

In [452]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioRangos.personasINE': 1} # UNA DOSIS - VACUNADOS TOTAL
unaDosis_vacunados_RANGOS_INE = list(collection.find(filtro, projection))
unaDosis_vacunados_RANGOS_INE[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioRangos': [{'personasINE': 181921},
    {'personasINE': 625846},
    {'personasINE': 3009381},
    {'personasINE': 1265021},
    {'personasINE': 916147},
    {'personasINE': 650381},
    {'personasINE': 413516}]}}}

In [453]:
df66 = pd.DataFrame(unaDosis_vacunados_RANGOS_INE) 
df66.head(1)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioRangos': [{'personasINE':...

In [454]:
ee = list(df66.etarios)
ee[0]

{'unaDosis': {'etarioRangos': [{'personasINE': 181921},
   {'personasINE': 625846},
   {'personasINE': 3009381},
   {'personasINE': 1265021},
   {'personasINE': 916147},
   {'personasINE': 650381},
   {'personasINE': 413516}]}}

In [457]:
ee[0]['unaDosis']['etarioRangos'][0]   #16-17

{'personasINE': 181921}

In [458]:
ee[0]['unaDosis']['etarioRangos'][1]   #18-24

{'personasINE': 625846}

**RANGO de Edades - %**

In [460]:
projection = {'_id':0, 'ccaa':1,'etarios.unaDosis.etarioRangos.porcentaje': 1}
unaDosis_vacunados_RANGOS_PORCEN = list(collection.find(filtro, projection))
unaDosis_vacunados_RANGOS_PORCEN[0]

{'ccaa': 'Andalucía',
 'etarios': {'unaDosis': {'etarioRangos': [{'porcentaje': 0.0026330110322612564},
    {'porcentaje': 0.05632056448391457},
    {'porcentaje': 0.12335094825148428},
    {'porcentaje': 0.4277415157534934},
    {'porcentaje': 0.8657628088068836},
    {'porcentaje': 0.9757742000458193},
    {'porcentaje': 1}]}}}

In [461]:
df666 = pd.DataFrame(unaDosis_vacunados_RANGOS_PORCEN) 
df666.head(1)

        ccaa                                            etarios
0  Andalucía  {'unaDosis': {'etarioRangos': [{'porcentaje': ...

In [462]:
eee = list(df666.etarios)
eee[0]

{'unaDosis': {'etarioRangos': [{'porcentaje': 0.0026330110322612564},
   {'porcentaje': 0.05632056448391457},
   {'porcentaje': 0.12335094825148428},
   {'porcentaje': 0.4277415157534934},
   {'porcentaje': 0.8657628088068836},
   {'porcentaje': 0.9757742000458193},
   {'porcentaje': 1}]}}

In [463]:
eee[0]['unaDosis']['etarioRangos'][0]   #16-17

{'porcentaje': 0.0026330110322612564}

In [464]:
eee[0]['unaDosis']['etarioRangos'][1]   #18-24

{'porcentaje': 0.05632056448391457}

**16-17**

In [471]:
unaDosis_vacunados_RANGOS_16_17_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[0].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_16_17_VACUNA[:3]

[479, 54, 41]

In [473]:
unaDosis_vacunados_RANGOS_16_17_INE = [vacuna.get('unaDosis').get('etarioRangos')[0].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_16_17_INE[:3]

[181921, 25106, 15563]

In [474]:
unaDosis_vacunados_RANGOS_16_17_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[0].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_16_17_PORCEN[:3]

[0.0026330110322612564, 0.0021508802676651, 0.002634453511533766]

**18-24**

In [475]:
unaDosis_vacunados_RANGOS_18_24_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[1].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_18_24_VACUNA[:3]

[35248, 6492, 4488]

In [476]:
unaDosis_vacunados_RANGOS_18_24_INE = [vacuna.get('unaDosis').get('etarioRangos')[1].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_18_24_INE[:3]

[625846, 89180, 54179]

In [477]:
unaDosis_vacunados_RANGOS_18_24_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[1].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_18_24_PORCEN[:3]

[0.05632056448391457, 0.0727965911639381, 0.08283652337621587]

**25-49**

In [481]:
unaDosis_vacunados_RANGOS_25_49_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[2].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_25_49_VACUNA[:3]

[371210, 59129, 44321]

In [482]:
unaDosis_vacunados_RANGOS_25_49_INE = [vacuna.get('unaDosis').get('etarioRangos')[2].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_25_49_INE[:3]

[3009381, 446083, 322095]

In [483]:
unaDosis_vacunados_RANGOS_25_49_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[2].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_25_49_PORCEN[:3]

[0.12335094825148428, 0.1325515655158345, 0.13760226020273522]

**50-59**

In [484]:
unaDosis_vacunados_RANGOS_50_59_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[3].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_50_59_VACUNA[:3]

[541102, 74695, 66311]

In [485]:
unaDosis_vacunados_RANGOS_50_59_INE = [vacuna.get('unaDosis').get('etarioRangos')[3].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_50_59_INE[:3]

[1265021, 198266, 162645]

In [486]:
unaDosis_vacunados_RANGOS_50_59_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[3].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_50_59_PORCEN[:3]

[0.4277415157534934, 0.3767413474826748, 0.4077038949860125]

**60-69**

In [487]:
unaDosis_vacunados_RANGOS_60_69_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[4].get('vacunados')  for vacuna in e]
unaDosis_vacunados_RANGOS_60_69_VACUNA[:3]

[793166, 138052, 132571]

In [488]:
unaDosis_vacunados_RANGOS_60_69_INE = [vacuna.get('unaDosis').get('etarioRangos')[4].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_60_69_INE[:3]

[916147, 156367, 149652]

In [489]:
unaDosis_vacunados_RANGOS_60_69_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[4].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_60_69_PORCEN[:3]

[0.8657628088068836, 0.8828717056667967, 0.885861866196242]

**70-79**

In [490]:
unaDosis_vacunados_RANGOS_70_79_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[5].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_70_79_VACUNA[:3]

[634625, 115822, 111644]

In [491]:
unaDosis_vacunados_RANGOS_70_79_INE = [vacuna.get('unaDosis').get('etarioRangos')[5].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_70_79_INE[:3]

[650381, 118955, 109249]

In [492]:
unaDosis_vacunados_RANGOS_70_79_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[5].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_70_79_PORCEN[:3]

[0.9757742000458193, 0.9736623092766172, 1]

**80-None**

In [493]:
unaDosis_vacunados_RANGOS_80_VACUNA = [vacuna.get('unaDosis').get('etarioRangos')[6].get('vacunados') for vacuna in e]
unaDosis_vacunados_RANGOS_80_VACUNA[:3]

[428802, 100128, 87885]

In [494]:
unaDosis_vacunados_RANGOS_80_INE = [vacuna.get('unaDosis').get('etarioRangos')[6].get('personasINE') for vacuna in ee]
unaDosis_vacunados_RANGOS_80_INE[:3]

[413516, 98807, 87826]

In [495]:
unaDosis_vacunados_RANGOS_80_PORCEN = [vacuna.get('unaDosis').get('etarioRangos')[6].get('porcentaje') for vacuna in eee]
unaDosis_vacunados_RANGOS_80_PORCEN[:3]

[1, 1, 1]

## PAUTA COMPLETA

**PAUTA COMPLETA VACUNAS**

In [352]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioTotal.vacunados': 1} # PAUTA COMPLETA - VACUNADOS TOTAL
pautacompleta_vacunados_total = list(collection.find({}, projection))
pautacompleta_vacunados_total[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioTotal': {'vacunados': 1324848}}}}

In [353]:
df3 = pd.DataFrame(pautacompleta_vacunados_total) 
df3.head(8)   #hay una NaN que dificulta la iteración ❗👀

                 ccaa                                            etarios
0           Andalucía  {'pautaCompleta': {'etarioTotal': {'vacunados'...
1              Aragón  {'pautaCompleta': {'etarioTotal': {'vacunados'...
2            Asturias  {'pautaCompleta': {'etarioTotal': {'vacunados'...
3            Baleares  {'pautaCompleta': {'etarioTotal': {'vacunados'...
4            Canarias  {'pautaCompleta': {'etarioTotal': {'vacunados'...
5           Cantabria  {'pautaCompleta': {'etarioTotal': {'vacunados'...
6     Castilla y Leon  {'pautaCompleta': {'etarioTotal': {'vacunados'...
7  Castilla La Mancha                                                NaN

In [354]:
df3.etarios = df3.etarios.fillna(0)

In [357]:
b = list(df3.etarios)
b[:10]

[{'pautaCompleta': {'etarioTotal': {'vacunados': 1324848}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 270668}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 248389}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 141426}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 283662}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 110435}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 567430}}},
 0,
 {'pautaCompleta': {'etarioTotal': {'vacunados': 1135792}}},
 {'pautaCompleta': {'etarioTotal': {'vacunados': 776451}}}]

In [417]:
pautaCompleta_vacunados_total_COL = [vacuna['pautaCompleta']['etarioTotal']['vacunados'] if vacuna!= 0 else 0 for vacuna in b]
pautaCompleta_vacunados_total_COL[:8]

[1324848, 270668, 248389, 141426, 283662, 110435, 567430, 0]

**PAUTA COMPLETA INE**

In [288]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioTotal.personasINE': 1} # PAUTA COMPLETA - VACUNADOS TOTAL
pautacompleta_vacunados_total_INE= list(collection.find({}, projection))
pautacompleta_vacunados_total_INE[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioTotal': {'personasINE': 7062213}}}}

In [289]:
df8 = pd.DataFrame(pautacompleta_vacunados_total_INE) 
df8.head(8)   #hay una NaN que dificulta la iteración ❗👀

                 ccaa                                            etarios
0           Andalucía  {'pautaCompleta': {'etarioTotal': {'personasIN...
1              Aragón  {'pautaCompleta': {'etarioTotal': {'personasIN...
2            Asturias  {'pautaCompleta': {'etarioTotal': {'personasIN...
3            Baleares  {'pautaCompleta': {'etarioTotal': {'personasIN...
4            Canarias  {'pautaCompleta': {'etarioTotal': {'personasIN...
5           Cantabria  {'pautaCompleta': {'etarioTotal': {'personasIN...
6     Castilla y Leon  {'pautaCompleta': {'etarioTotal': {'personasIN...
7  Castilla La Mancha                                                NaN

In [290]:
df8.etarios = df8.etarios.fillna(0)

In [307]:
m = list(df8.etarios)
m[:10]

[{'pautaCompleta': {'etarioTotal': {'personasINE': 7062213}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 1132764}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 901209}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 986279}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 1871033}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 501384}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 2092873}}},
 0,
 {'pautaCompleta': {'etarioTotal': {'personasINE': 6531658}}},
 {'pautaCompleta': {'etarioTotal': {'personasINE': 4269305}}}]

In [418]:
pautaCompleta_vacunados_total_INE_COL = [vacuna['pautaCompleta']['etarioTotal']['personasINE'] if vacuna!= 0 else 0 for vacuna in m]
pautaCompleta_vacunados_total_INE_COL[:8]

[7062213, 1132764, 901209, 986279, 1871033, 501384, 2092873, 0]

**PAUTA COMPLETA PORCENTAJE**

In [298]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioTotal.porcentaje': 1} # PAUTA COMPLETA %
pautacompleta_vacunados_porcentaje= list(collection.find({}, projection))
pautacompleta_vacunados_porcentaje[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.18759672074461645}}}}

In [299]:
df9 = pd.DataFrame(pautacompleta_vacunados_porcentaje) 
df9.head(8)   #hay una NaN que dificulta la iteración ❗👀

                 ccaa                                            etarios
0           Andalucía  {'pautaCompleta': {'etarioTotal': {'porcentaje...
1              Aragón  {'pautaCompleta': {'etarioTotal': {'porcentaje...
2            Asturias  {'pautaCompleta': {'etarioTotal': {'porcentaje...
3            Baleares  {'pautaCompleta': {'etarioTotal': {'porcentaje...
4            Canarias  {'pautaCompleta': {'etarioTotal': {'porcentaje...
5           Cantabria  {'pautaCompleta': {'etarioTotal': {'porcentaje...
6     Castilla y Leon  {'pautaCompleta': {'etarioTotal': {'porcentaje...
7  Castilla La Mancha                                                NaN

In [300]:
df9.etarios = df9.etarios.fillna(0)

In [309]:
n = list(df9.etarios)
n[:10]

[{'pautaCompleta': {'etarioTotal': {'porcentaje': 0.18759672074461645}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.23894474047550945}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.27561753156038166}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.14339350224429395}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.1516071603226667}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.2202603194358017}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.27112490820035423}}},
 0,
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.17389030472814102}}},
 {'pautaCompleta': {'etarioTotal': {'porcentaje': 0.18186824319180755}}}]

In [420]:
pautaCompleta_vacunados_total_porcentaje_COL = [vacuna['pautaCompleta']['etarioTotal']['porcentaje'] if vacuna!= 0 else 0 for vacuna in n]
pautaCompleta_vacunados_total_porcentaje_COL[:8]

[0.18759672074461645,
 0.23894474047550945,
 0.27561753156038166,
 0.14339350224429395,
 0.1516071603226667,
 0.2202603194358017,
 0.27112490820035423,
 0]

## PAUTA COMPLETA RANGOS

**RANGO EDADES VACUNADOS**

In [496]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioRangos.vacunados': 1} # PAUTA COMPLETA 
pautacompleta_vacunados_rangos_VACUNADOS= list(collection.find({}, projection))
pautacompleta_vacunados_rangos_VACUNADOS[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioRangos': [{'vacunados': 338},
    {'vacunados': 15429},
    {'vacunados': 158970},
    {'vacunados': 88701},
    {'vacunados': 85348},
    {'vacunados': 558376},
    {'vacunados': 417686}]}}}

In [512]:
df100 = pd.DataFrame(pautacompleta_vacunados_rangos_VACUNADOS) 
df100.head(1)   #hay una NaN que dificulta la iteración ❗👀

        ccaa                                            etarios
0  Andalucía  {'pautaCompleta': {'etarioRangos': [{'vacunado...

In [513]:
df100.etarios = df100.etarios.fillna(0)

In [514]:
s = list(df100.etarios)
s[0]

{'pautaCompleta': {'etarioRangos': [{'vacunados': 338},
   {'vacunados': 15429},
   {'vacunados': 158970},
   {'vacunados': 88701},
   {'vacunados': 85348},
   {'vacunados': 558376},
   {'vacunados': 417686}]}}

**RANGO EDADES INE**

In [501]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioRangos.personasINE': 1} # PAUTA COMPLETA 
pautacompleta_vacunados_rangos_INE= list(collection.find({}, projection))
pautacompleta_vacunados_rangos_INE[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioRangos': [{'personasINE': 181921},
    {'personasINE': 625846},
    {'personasINE': 3009381},
    {'personasINE': 1265021},
    {'personasINE': 916147},
    {'personasINE': 650381},
    {'personasINE': 413516}]}}}

In [515]:
df1000 = pd.DataFrame(pautacompleta_vacunados_rangos_INE) 
df1000.head(1)   #hay una NaN que dificulta la iteración ❗👀

        ccaa                                            etarios
0  Andalucía  {'pautaCompleta': {'etarioRangos': [{'personas...

In [516]:
df1000.etarios = df1000.etarios.fillna(0)

In [517]:
ss = list(df1000.etarios)
ss[0]

{'pautaCompleta': {'etarioRangos': [{'personasINE': 181921},
   {'personasINE': 625846},
   {'personasINE': 3009381},
   {'personasINE': 1265021},
   {'personasINE': 916147},
   {'personasINE': 650381},
   {'personasINE': 413516}]}}

**RANGO EDADES %**

In [506]:
projection = {'_id':0, 'ccaa':1,'etarios.pautaCompleta.etarioRangos.porcentaje': 1} # PAUTA COMPLETA 
pautacompleta_vacunados_rangos_PORCENTAJE= list(collection.find({}, projection))
pautacompleta_vacunados_rangos_PORCENTAJE[0]

{'ccaa': 'Andalucía',
 'etarios': {'pautaCompleta': {'etarioRangos': [{'porcentaje': 0.0018579493296540805},
    {'porcentaje': 0.024653029659053506},
    {'porcentaje': 0.05282481679787305},
    {'porcentaje': 0.07011820357132412},
    {'porcentaje': 0.09315972218432195},
    {'porcentaje': 0.8585367653729122},
    {'porcentaje': 1}]}}}

In [518]:
df10000 = pd.DataFrame(pautacompleta_vacunados_rangos_PORCENTAJE) 
df10000.head(1)   #hay una NaN que dificulta la iteración ❗👀

        ccaa                                            etarios
0  Andalucía  {'pautaCompleta': {'etarioRangos': [{'porcenta...

In [519]:
df10000.etarios = df10000.etarios.fillna(0)

In [520]:
sss = list(df10000.etarios)
sss[0]

{'pautaCompleta': {'etarioRangos': [{'porcentaje': 0.0018579493296540805},
   {'porcentaje': 0.024653029659053506},
   {'porcentaje': 0.05282481679787305},
   {'porcentaje': 0.07011820357132412},
   {'porcentaje': 0.09315972218432195},
   {'porcentaje': 0.8585367653729122},
   {'porcentaje': 1}]}}

**16-17**

In [521]:
s[0]['pautaCompleta']['etarioRangos'][0]

{'vacunados': 338}

In [549]:
pautaCompleta_vacunados_16_17_VACUN = [vacuna['pautaCompleta']['etarioRangos'][0]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_17_18_VACUN[:8]

[338, 31, 36, 33, 48, 5, 102, 0]

In [550]:
pautaCompleta_vacunados_16_17_INE = [vacuna['pautaCompleta']['etarioRangos'][0]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_16_17_INE[:8]

[181921, 25106, 15563, 23300, 44352, 10791, 40684, 0]

In [551]:
pautaCompleta_vacunados_16_17_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][0]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_16_17_PORCEN[:8]

[0.0018579493296540805,
 0.001234764598104039,
 0.0023131786930540386,
 0.0014163090128755365,
 0.0010822510822510823,
 0.0004633490872022982,
 0.002507128109330449,
 0]

**18-24**

In [526]:
pautaCompleta_vacunados_18_24_VACUN = [vacuna['pautaCompleta']['etarioRangos'][1]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_18_24_VACUN[:8]

[15429, 1609, 3457, 1398, 2822, 723, 3001, 0]

In [527]:
pautaCompleta_vacunados_18_24_INE = [vacuna['pautaCompleta']['etarioRangos'][1]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_18_24_INE[:8]

[625846, 89180, 54179, 85839, 163899, 34935, 144422, 0]

In [528]:
pautaCompleta_vacunados_18_24_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][1]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_18_24_PORCEN[:8]

[0.024653029659053506,
 0.01804216191971294,
 0.06380701009616271,
 0.016286303428511516,
 0.0172179207926833,
 0.020695577501073422,
 0.020779382642533685,
 0]

**25-49**

In [529]:
pautaCompleta_vacunados_25_49_VACUN = [vacuna['pautaCompleta']['etarioRangos'][2]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_25_49_VACUN[:8]

[158970, 23691, 32588, 19262, 38810, 12248, 45803, 0]

In [530]:
pautaCompleta_vacunados_25_49_INE = [vacuna['pautaCompleta']['etarioRangos'][2]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_25_49_INE[:8]

[3009381, 446083, 322095, 464054, 832411, 194241, 738950, 0]

In [531]:
pautaCompleta_vacunados_25_49_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][2]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_25_49_PORCEN[:8]

[0.05282481679787305,
 0.05310895057646223,
 0.10117511914186808,
 0.04150810035039026,
 0.04662360300380461,
 0.06305568855185054,
 0.06198389606874619,
 0]

**50-59**

In [532]:
pautaCompleta_vacunados_50_59_VACUN = [vacuna['pautaCompleta']['etarioRangos'][3]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_50_59_VACUN[:8]

[88701, 15983, 19552, 8819, 24955, 6957, 33697, 0]

In [533]:
pautaCompleta_vacunados_50_59_INE = [vacuna['pautaCompleta']['etarioRangos'][3]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_50_59_INE[:8]

[1265021, 198266, 162645, 165797, 350512, 89964, 381175, 0]

In [534]:
pautaCompleta_vacunados_50_59_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][3]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_50_59_PORCEN[:8]

[0.07011820357132412,
 0.08061392270989479,
 0.12021273325340466,
 0.053191553526300235,
 0.07119585064134751,
 0.07733093237294918,
 0.08840296451761002,
 0]

**60-69**

In [535]:
pautaCompleta_vacunados_60_69_VACUN = [vacuna['pautaCompleta']['etarioRangos'][4]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_60_69_VACUN[:8]

[85348, 29003, 14268, 6284, 18468, 5029, 45398, 0]

In [536]:
pautaCompleta_vacunados_60_69_INE = [vacuna['pautaCompleta']['etarioRangos'][4]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_60_69_INE[:8]

[916147, 156367, 149652, 117231, 235092, 77345, 318575, 0]

In [537]:
pautaCompleta_vacunados_60_69_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][4]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_60_69_PORCEN[:8]

[0.09315972218432195,
 0.18548031234211823,
 0.09534119156442948,
 0.05360356902184576,
 0.07855648001633403,
 0.06502036330725967,
 0.142503335164404,
 0]

**70-79**

In [538]:
pautaCompleta_vacunados_70_79_VACUN = [vacuna['pautaCompleta']['etarioRangos'][5]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_70_79_VACUN[:8]

[558376, 102637, 92812, 57349, 113981, 44317, 216204, 0]

In [539]:
pautaCompleta_vacunados_70_79_INE = [vacuna['pautaCompleta']['etarioRangos'][5]['personasINE'] if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_70_79_INE[:8]

[650381, 118955, 109249, 80516, 154531, 53066, 245410, 0]

In [540]:
pautaCompleta_vacunados_70_79_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][5]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_70_79_PORCEN[:8]

[0.8585367653729122,
 0.8628220755747972,
 0.8495455335975616,
 0.7122683690198222,
 0.7375931042962254,
 0.8351298383145517,
 0.8809909946619943,
 0]

**80+**

In [541]:
pautaCompleta_vacunados_80_VACUN = [vacuna['pautaCompleta']['etarioRangos'][6]['vacunados'] if vacuna!= 0 else 0 for vacuna in s]
pautaCompleta_vacunados_80_VACUN[:8]

[417686, 97714, 85676, 48281, 84578, 41156, 223225, 0]

In [542]:
pautaCompleta_vacunados_80_INE = [vacuna['pautaCompleta']['etarioRangos'][6]['personasINE']  if vacuna!= 0 else 0 for vacuna in ss]
pautaCompleta_vacunados_80_INE[:8]

[413516, 98807, 87826, 49542, 90236, 41042, 223657, 0]

In [543]:
pautaCompleta_vacunados_80_PORCEN = [vacuna['pautaCompleta']['etarioRangos'][6]['porcentaje'] if vacuna!= 0 else 0 for vacuna in sss]
pautaCompleta_vacunados_80_PORCEN[:8]

[1,
 0.9889380307063265,
 0.9755197777423542,
 0.9745468491381051,
 0.9372977525599538,
 1,
 0.998068470917521,
 0]

# DATAFRAME (UnaDosis -DosisCompleta)

**UNA DOSIS - CCAA**

In [386]:
unaDosis_vacunados_total[0]['ccaa']

'Andalucía'

In [388]:
unaDosis_vacunados_total_CCAA = [ccaa['ccaa']  for ccaa in unaDosis_vacunados_total]
unaDosis_vacunados_total_CCAA

['Andalucía',
 'Aragón',
 'Asturias',
 'Baleares',
 'Canarias',
 'Cantabria',
 'Castilla y Leon',
 'Cataluña',
 'C. Valenciana',
 'Extremadura',
 'Galicia',
 'La Rioja',
 'Madrid',
 'Murcia',
 'Navarra',
 'País Vasco',
 'Ceuta',
 'Melilla',
 'Totales']

**PAUTA COMPLETA - CCAA**

In [391]:
pautacompleta_vacunados_total[0]['ccaa']

'Andalucía'

In [392]:
pautacompleta_vacunados_total_CCAA = [ ccaa['ccaa']for ccaa in pautacompleta_vacunados_total]
pautacompleta_vacunados_total_CCAA

['Andalucía',
 'Aragón',
 'Asturias',
 'Baleares',
 'Canarias',
 'Cantabria',
 'Castilla y Leon',
 'Castilla La Mancha',
 'Cataluña',
 'C. Valenciana',
 'Extremadura',
 'Galicia',
 'La Rioja',
 'Madrid',
 'Murcia',
 'Navarra',
 'País Vasco',
 'Ceuta',
 'Melilla',
 'Fuerzas Armadas',
 'Totales']

In [371]:
len(unaDosis_vacunados_total_COL), len(unaDosis_vacunados_total_INE_COL), len(unaDosis_vacunados_total_porcentaje_COL), len(pautaCompleta_vacunados_total_COL), len(pautaCompleta_vacunados_total_INE_COL), len(pautaCompleta_vacunados_total_porcentaje_COL)

(19, 19, 19, 21, 21, 21)

**TABLAS**

In [421]:
unadosis = {'CCAA': unaDosis_vacunados_total_CCAA,
              'Una Dosis Vacunas TOTAL': unaDosis_vacunados_total_COL, 
              'Una Dosis personas INE': unaDosis_vacunados_total_INE_COL,
              'Una Dosis % Total': unaDosis_vacunados_total_porcentaje_COL,}

In [423]:
dosiscompleta = {'CCAA': pautacompleta_vacunados_total_CCAA,
              'Dosis Completa TOTAL': pautaCompleta_vacunados_total_COL,
              'Dosis Completa INE': pautaCompleta_vacunados_total_INE_COL,
              'Dosis Completa % Total': pautaCompleta_vacunados_total_porcentaje_COL}

In [422]:
df_unadosis = pd.DataFrame(unadosis)
df_unadosis

,CCAA,Una Dosis Vacunas TOTAL,Una Dosis personas INE,Una Dosis % Total
0,Andalucía,2804632,7062213,0.397132
1,Aragón,494372,1132764,0.436430
2,Asturias,447261,901209,0.496290
3,Baleares,336944,986279,0.341632
4,Canarias,616270,1871033,0.329374
5,Cantabria,216835,501384,0.432473
6,Castilla y Leon,959720,2092873,0.458566
7,Cataluña,2642992,6531658,0.404643
8,C. Valenciana,1668460,4269305,0.390804
9,Extremadura,404699,911213,0.444132
10,Galicia,1115803,2362643,0.472269
11,La Rioja,115235,270788,0.425554
12,Madrid,2168152,5695623,0.380670
13,Murcia,429379,1237479,0.346979
14,Navarra,237738,552935,0.429957
15,País Vasco,849078,1898123,0.447325
16,Ceuta,25381,66158,0.383642
17,Melilla,22354,66178,0.337786
18,Totales,16347683,40129822,0.407370

In [424]:
df_dosiscompleta = pd.DataFrame(dosiscompleta)
df_dosiscompleta

,CCAA,Dosis Completa TOTAL,Dosis Completa INE,Dosis Completa % Total
0,Andalucía,1324848,7062213,0.187597
1,Aragón,270668,1132764,0.238945
2,Asturias,248389,901209,0.275618
3,Baleares,141426,986279,0.143394
4,Canarias,283662,1871033,0.151607
5,Cantabria,110435,501384,0.220260
6,Castilla y Leon,567430,2092873,0.271125
7,Castilla La Mancha,0,0,0.000000
8,Cataluña,1135792,6531658,0.173890
9,C. Valenciana,776451,4269305,0.181868
10,Extremadura,216051,911213,0.237103
11,Galicia,603245,2362643,0.255326
12,La Rioja,61926,270788,0.228688
13,Madrid,1018574,5695623,0.178835
14,Murcia,214026,1237479,0.172953
15,Navarra,121398,552935,0.219552
16,País Vasco,382394,1898123,0.201459
17,Ceuta,8631,66158,0.130460
18,Melilla,7713,66178,0.116549
19,Fuerzas Armadas,0,0,0.000000
20,Totales,7865313,40129822,0.195997

In [574]:
    etarios_unadosis = {'CCAA Una Dosis': unaDosis_vacunados_total_CCAA,
                       '16-17 Vacunados': unaDosis_vacunados_RANGOS_16_17_VACUNA,
                       '18-24 Vacunados': unaDosis_vacunados_RANGOS_18_24_VACUNA,
                       '25-49 Vacunados': unaDosis_vacunados_RANGOS_25_49_VACUNA,
                       '50-59 Vacunados': unaDosis_vacunados_RANGOS_50_59_VACUNA,
                       '60-69 Vacunados': unaDosis_vacunados_RANGOS_60_69_VACUNA,
                       '70-79 Vacunados': unaDosis_vacunados_RANGOS_70_79_VACUNA,
                       '80+ Vacunados': unaDosis_vacunados_RANGOS_80_VACUNA,
                       '16-17 INE': unaDosis_vacunados_RANGOS_16_17_INE,
                       '18-24 INE': unaDosis_vacunados_RANGOS_18_24_INE,
                       '25-49 INE': unaDosis_vacunados_RANGOS_25_49_INE,
                       '50-59 INE': unaDosis_vacunados_RANGOS_50_59_INE,
                       '60-69 INE': unaDosis_vacunados_RANGOS_60_69_INE,
                       '70-79 INE': unaDosis_vacunados_RANGOS_70_79_INE,
                       '80+ INE': unaDosis_vacunados_RANGOS_80_INE,
                       '16-17 %': unaDosis_vacunados_RANGOS_16_17_PORCEN,
                       '18-24 %': unaDosis_vacunados_RANGOS_18_24_PORCEN,
                       '25-49 %': unaDosis_vacunados_RANGOS_25_49_PORCEN,
                       '50-59 %': unaDosis_vacunados_RANGOS_50_59_PORCEN,
                       '60-69 %': unaDosis_vacunados_RANGOS_60_69_PORCEN,
                       '70-79 %': unaDosis_vacunados_RANGOS_70_79_PORCEN,
                       '80+ %': unaDosis_vacunados_RANGOS_80_PORCEN}

In [552]:
etarios_dosiscompleta = {'CCAA Pautas Completas':pautacompleta_vacunados_total_CCAA,
                        '16-17 Vacunados': pautaCompleta_vacunados_16_17_VACUN,
                        '18-24 Vacunados': pautaCompleta_vacunados_18_24_VACUN,
                        '25-49 Vacunados': pautaCompleta_vacunados_25_49_VACUN,
                        '50-59 Vacunados': pautaCompleta_vacunados_50_59_VACUN,
                        '60-69 Vacunados': pautaCompleta_vacunados_60_69_VACUN,
                        '70-79 Vacunados': pautaCompleta_vacunados_70_79_VACUN,
                        '80+ Vacunados': pautaCompleta_vacunados_80_VACUN,
                        '16-17 INE': pautaCompleta_vacunados_16_17_INE,
                        '18-24 INE': pautaCompleta_vacunados_18_24_INE,
                        '25-49 INE': pautaCompleta_vacunados_25_49_INE,
                        '50-59 INE': pautaCompleta_vacunados_50_59_INE,
                        '60-69 INE': pautaCompleta_vacunados_60_69_INE,
                        '70-79 INE': pautaCompleta_vacunados_70_79_INE,
                        '80+ INE': pautaCompleta_vacunados_80_INE,
                        '16-17 %': pautaCompleta_vacunados_16_17_PORCEN,
                        '18-24 %': pautaCompleta_vacunados_18_24_VACUN,
                        '25-49 %': pautaCompleta_vacunados_25_49_VACUN,
                        '50-59 %': pautaCompleta_vacunados_50_59_VACUN,
                        '60-69 %': pautaCompleta_vacunados_60_69_VACUN,
                        '70-79 %': pautaCompleta_vacunados_70_79_VACUN,
                        '80+ %': pautaCompleta_vacunados_80_VACUN}

In [575]:
df_edades_unadosis = pd.DataFrame(etarios_unadosis)
df_edades_unadosis

,CCAA Una Dosis,16-17 Vacunados,18-24 Vacunados,25-49 Vacunados,50-59 Vacunados,60-69 Vacunados,70-79 Vacunados,80+ Vacunados,16-17 INE,18-24 INE,...,60-69 INE,70-79 INE,80+ INE,16-17 %,18-24 %,25-49 %,50-59 %,60-69 %,70-79 %,80+ %
0,Andalucía,479,35248,371210,541102,793166,634625,428802,181921,625846,...,916147,650381,413516,0.002633,0.056321,0.123351,0.427742,0.865763,0.975774,1.000000
1,Aragón,54,6492,59129,74695,138052,115822,100128,25106,89180,...,156367,118955,98807,0.002151,0.072797,0.132552,0.376741,0.882872,0.973662,1.000000
2,Asturias,41,4488,44321,66311,132571,111644,87885,15563,54179,...,149652,109249,87826,0.002634,0.082837,0.137602,0.407704,0.885862,1.000000,1.000000
3,Baleares,41,4207,48266,66952,92250,75134,50094,23300,85839,...,117231,80516,49542,0.001760,0.049010,0.104009,0.403819,0.786908,0.933156,1.000000
4,Canarias,69,7258,88213,101590,186698,142687,89755,44352,163899,...,235092,154531,90236,0.001556,0.044283,0.105973,0.289833,0.794149,0.923355,0.994670
5,Cantabria,8,1766,25023,27001,66150,54988,41899,10791,34935,...,77345,53066,41042,0.000741,0.050551,0.128825,0.300131,0.855259,1.000000,1.000000
6,Castilla y Leon,112,8753,96770,87127,293624,245790,227544,40684,144422,...,318575,245410,223657,0.002753,0.060607,0.130956,0.228575,0.921679,1.000000,1.000000
7,Cataluña,691,45430,339992,526275,684712,593872,452020,159864,556316,...,837584,635292,447196,0.004322,0.081662,0.121269,0.482034,0.817485,0.934802,1.000000
8,C. Valenciana,172,19914,212359,217933,504404,420993,292685,103049,352834,...,580728,437862,276531,0.001669,0.056440,0.120251,0.289676,0.868572,0.961474,1.000000
9,Extremadura,68,2729,48066,58216,123185,94626,77809,20953,76088,...,125297,91876,76005,0.003245,0.035866,0.136637,0.344034,0.983144,1.000000,1.000000
10,Galicia,43,6049,102071,168602,317184,282997,238857,44014,152745,...,346927,289762,234302,0.000977,0.039602,0.114815,0.415389,0.914267,0.976653,1.000000
11,La Rioja,10,1455,14276,12950,35135,28218,23191,6286,21170,...,37718,28125,22207,0.001591,0.068729,0.132654,0.271694,0.931518,1.000000,1.000000
12,Madrid,404,30800,315254,357905,607888,488345,367556,135861,479716,...,703323,526081,364122,0.002974,0.064205,0.125412,0.367919,0.864308,0.928270,1.000000
13,Murcia,131,7340,62512,66704,122706,97257,72729,34712,118667,...,146909,102899,69771,0.003774,0.061854,0.113397,0.312788,0.835252,0.945170,1.000000
14,Navarra,9,3637,29808,40289,66721,55078,42196,13906,48505,...,73844,55792,41166,0.000647,0.074982,0.133651,0.416665,0.903540,0.987202,1.000000
15,País Vasco,33,12654,98930,109987,258270,208026,161178,41824,140323,...,280119,213081,157950,0.000789,0.090178,0.136484,0.323513,0.922001,0.976277,1.000000
16,Ceuta,7,400,4566,8399,6003,3681,2325,2175,7581,...,7857,4318,2605,0.003218,0.052763,0.151866,0.726809,0.764032,0.852478,0.892514
17,Melilla,6,298,4420,7135,5582,3027,1886,2324,8536,...,7827,3748,2349,0.002582,0.034911,0.146868,0.631472,0.713172,0.807631,0.802895
18,Totales,2487,213249,2099708,2691663,4634243,3811243,2895090,949049,3310299,...,5336986,3960045,2834024,0.002621,0.064420,0.125685,0.382702,0.868326,0.962424,1.000000

In [576]:
df_edades_unadosis['16-17 INE'].sum()

1855734

In [553]:
df_edades_dosiscompleta = pd.DataFrame(etarios_dosiscompleta)
df_edades_dosiscompleta

,CCAA Pautas Completas,16-17 Vacunados,18-24 Vacunados,25-49 Vacunados,50-59 Vacunados,60-69 Vacunados,70-79 Vacunados,80+ Vacunados,16-17 INE,18-24 INE,...,60-69 INE,70-79 INE,80+ INE,16-17 %,18-24 %,25-49 %,50-59 %,60-69 %,70-79 %,80+ %
0,Andalucía,338,15429,158970,88701,85348,558376,417686,181921,625846,...,916147,650381,413516,0.001858,15429,158970,88701,85348,558376,417686
1,Aragón,31,1609,23691,15983,29003,102637,97714,25106,89180,...,156367,118955,98807,0.001235,1609,23691,15983,29003,102637,97714
2,Asturias,36,3457,32588,19552,14268,92812,85676,15563,54179,...,149652,109249,87826,0.002313,3457,32588,19552,14268,92812,85676
3,Baleares,33,1398,19262,8819,6284,57349,48281,23300,85839,...,117231,80516,49542,0.001416,1398,19262,8819,6284,57349,48281
4,Canarias,48,2822,38810,24955,18468,113981,84578,44352,163899,...,235092,154531,90236,0.001082,2822,38810,24955,18468,113981,84578
5,Cantabria,5,723,12248,6957,5029,44317,41156,10791,34935,...,77345,53066,41042,0.000463,723,12248,6957,5029,44317,41156
6,Castilla y Leon,102,3001,45803,33697,45398,216204,223225,40684,144422,...,318575,245410,223657,0.002507,3001,45803,33697,45398,216204,223225
7,Castilla La Mancha,0,0,0,0,0,0,0,0,0,...,0,0,0,0.000000,0,0,0,0,0,0
8,Cataluña,360,20325,151310,85117,70552,371476,436652,159864,556316,...,837584,635292,447196,0.002252,20325,151310,85117,70552,371476,436652
9,C. Valenciana,125,6020,73156,43644,31382,338364,283760,103049,352834,...,580728,437862,276531,0.001213,6020,73156,43644,31382,338364,283760
10,Extremadura,58,1030,21374,15041,13192,89158,76198,20953,76088,...,125297,91876,76005,0.002768,1030,21374,15041,13192,89158,76198
11,Galicia,34,1887,43923,28143,21341,272506,235411,44014,152745,...,346927,289762,234302,0.000772,1887,43923,28143,21341,272506,235411
12,La Rioja,9,425,5042,4415,4591,24641,22803,6286,21170,...,37718,28125,22207,0.001432,425,5042,4415,4591,24641,22803
13,Madrid,236,15540,123084,60603,67543,393390,358178,135861,479716,...,703323,526081,364122,0.001737,15540,123084,60603,67543,393390,358178
14,Murcia,116,2634,28589,17651,12993,81408,70635,34712,118667,...,146909,102899,69771,0.003342,2634,28589,17651,12993,81408,70635
15,Navarra,6,1001,13356,9592,7162,49185,41096,13906,48505,...,73844,55792,41166,0.000431,1001,13356,9592,7162,49185,41096
16,País Vasco,14,3917,41655,26090,17655,136340,156723,41824,140323,...,280119,213081,157950,0.000335,3917,41655,26090,17655,136340,156723
17,Ceuta,3,112,1128,699,1017,3428,2244,2175,7581,...,7857,4318,2605,0.001379,112,1128,699,1017,3428,2244
18,Melilla,6,88,972,645,1454,2772,1776,2324,8536,...,7827,3748,2349,0.002582,88,972,645,1454,2772,1776
19,Fuerzas Armadas,0,0,0,0,0,0,0,0,0,...,0,0,0,0.000000,0,0,0,0,0,0
20,Totales,1656,86151,880206,523412,473261,3083816,2816811,949049,3310299,...,5336986,3960045,2834024,0.001745,86151,880206,523412,473261,3083816,2816811

# TABLAS A GUARDAR  🔐

In [599]:
df_dosiscompleta = df_dosiscompleta.drop([7, 19], axis=0)  #Borramos 'Castilla La Mancha', 'Fuerzas Armadas'
df_edades_dosiscompleta = df_edades_dosiscompleta.drop([7, 19], axis=0) #Borramos 'Castilla La Mancha', 'Fuerzas Armadas'

In [592]:
df_edades_unadosis['CCAA Una Dosis'].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y Leon', 'Cataluña', 'C. Valenciana',
       'Extremadura', 'Galicia', 'La Rioja', 'Madrid', 'Murcia',
       'Navarra', 'País Vasco', 'Ceuta', 'Melilla', 'Totales'],
      dtype=object)

In [600]:
df_edades_dosiscompleta['CCAA Pautas Completas'].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y Leon', 'Cataluña', 'C. Valenciana',
       'Extremadura', 'Galicia', 'La Rioja', 'Madrid', 'Murcia',
       'Navarra', 'País Vasco', 'Ceuta', 'Melilla', 'Totales'],
      dtype=object)

In [602]:
df_dosiscompleta['CCAA'].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y Leon', 'Cataluña', 'C. Valenciana',
       'Extremadura', 'Galicia', 'La Rioja', 'Madrid', 'Murcia',
       'Navarra', 'País Vasco', 'Ceuta', 'Melilla', 'Totales'],
      dtype=object)

In [604]:
len(df_edades_dosiscompleta['CCAA Pautas Completas'].unique()), len(df_edades_unadosis['CCAA Una Dosis'].unique())

(19, 19)

In [ ]:
df_edades_unadosis
df_edades_dosiscompleta   #Borramos 'Castilla La Mancha', 'Fuerzas Armadas'
df_dosiscompleta          #Borramos 'Castilla La Mancha', 'Fuerzas Armadas'
df_unadosis
df1_DOSIS
df_FARMA

In [613]:
df_FARMA.to_csv('df1_farmaDosis.csv', header=True, index=False)

In [612]:
df1_DOSIS.to_csv('df2_dosisEntregadas.csv', header=True, index=False)

In [614]:
df_unadosis.to_csv('df3_unadosis.csv', header=True, index=False)

In [615]:
df_dosiscompleta.to_csv('df4_dosiscompleta.csv', header=True, index=False)

In [616]:
df_edades_unadosis.to_csv('df5_edades_unadosis.csv', header=True, index=False)

In [617]:
df_edades_dosiscompleta.to_csv('df6_edades_unadosis.csv', header=True, index=False)

# FAILS

In [ ]:
mongo = os.getenv('mongo')
client = MongoClient(mongo)
def mongo_collection(client):
    client.list_database_names()
    db = client.get_database('Proyecto_Data')
    collection = db.get_collection('vacunas')
    return collection

In [ ]:
mongo_collection(client)

In [ ]:
collection.find_one()

In [ ]:
'etarios': 
   {'unaDosis':
    
   {'etarioTotal': {'vacunados': 2804632,'personasINE': 7062213,'porcentaje': 0.3971321737251482},
   'etarioRangos': 
   [
    {'rango': {'min': 16, 'max': 17},'vacunados': 479,'personasINE': 181921,'porcentaje': 0.0026330110322612564},
    {'rango': {'min': 18, 'max': 24},'vacunados': 35248,'personasINE': 625846,'porcentaje': 0.05632056448391457},
    {'rango': {'min': 25, 'max': 49},'vacunados': 371210,'personasINE': 3009381,'porcentaje': 0.12335094825148428},
    {'rango': {'min': 50, 'max': 59},'vacunados': 541102,'personasINE': 1265021,'porcentaje': 0.4277415157534934},
    {'rango': {'min': 60, 'max': 69},'vacunados': 793166,'personasINE': 916147,'porcentaje': 0.8657628088068836},
    {'rango': {'min': 70, 'max': 79},'vacunados': 634625,'personasINE': 650381,'porcentaje': 0.9757742000458193},
    {'rango': {'min': 80, 'max': None},'vacunados': 428802,'personasINE': 413516,'porcentaje': 1}
   ]       
   
   
   },        
  'pautaCompleta': 
    {'etarioTotal': {'vacunados': 1324848,'personasINE': 7062213,'porcentaje': 0.18759672074461645},
   'etarioRangos': 
    [{'rango': {'min': 16, 'max': 17},'vacunados': 338,'personasINE': 181921,'porcentaje': 0.0018579493296540805},
    {'rango': {'min': 18, 'max': 24},'vacunados': 15429,'personasINE': 625846,'porcentaje': 0.024653029659053506},
    {'rango': {'min': 25, 'max': 49},'vacunados': 158970,'personasINE': 3009381,'porcentaje': 0.05282481679787305},
    {'rango': {'min': 50, 'max': 59},'vacunados': 88701,'personasINE': 1265021,'porcentaje': 0.07011820357132412},
    {'rango': {'min': 60, 'max': 69},'vacunados': 85348,'personasINE': 916147,'porcentaje': 0.09315972218432195},
    {'rango': {'min': 70, 'max': 79},'vacunados': 558376,'personasINE': 650381,'porcentaje': 0.8585367653729122},
    {'rango': {'min': 80, 'max': None},'vacunados': 417686,'personasINE': 413516,'porcentaje': 1}
    ]                       } }